<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    <h1>Listado de Usuarios</h1>
    
    {{#each user}}
        <ul>
            <li>Titulo: {{this.username}}</li>
            <li>Precio: {{this.email}}</li>
        </ul>
    {{/each}}

</body>
</html>